@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Registro</h2>



<hr />
@using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdUsuario)

    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.IdUsuario)
            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "form-control" })
        </div>
        </div>
    <div class="row">

        <div class="col-md-3">
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        </div>
        
        <div class="col-md-3">
            @Html.LabelFor(model => model.ApellidoPaterno)
            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
        </div>
        </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.ApellidoMaterno)
            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
        </div>
        

        <div class="col-md-3">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        </div>
        </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
      
        <div class="col-md-3">
            @Html.LabelFor(model => model.Password)
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        </div>
        </div>

        @*   <div class="col-md-3">
    @Html.LabelFor(model => model.rol.IdRol)
    @Html.TextBoxFor(model => model.rol.IdRol, new { @class = "form-control" })
    </div> *@


   
    <div class="row-cols-6">

        <input type="submit" class="btn btn-outline alert-success col-md-3" value="Agregar" />
        <a href="@Url.Action("Login", "Login")" class="btn btn-danger col-md-3">Cancelar</a>
    </div>
    





}
@section Scripts {

    @* Scripts.Render("~/bundles/jquery") *@
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script type="text/javascript">



        <link rel="stylesheet" href = "//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" >
            <link rel="stylesheet" href = "/resources/demos/style.css" >



                function validateFile() {
                    var allowedExtension = ['jpeg', 'jpg', 'png'];
                    var fileExtension = document.getElementById('amd').value.split('.').pop().toLowerCase();
                    var isValidFile = false;

                    for (var index in allowedExtension) {

                        if (fileExtension === allowedExtension[index]) {
                            isValidFile = true;
                            break;
                        }
                    }

                    if (!isValidFile) {
                        alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
                        document.getElementById('amd').value = "";
                    }

                    return isValidFile;
                }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);

                };

                reader.readAsDataURL(input.files[0]);
            }

        }
    </script>

}